<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head"></head>
<body>
<link rel="stylesheet" th:href="@{/assets/css/homepage.css}"/>
<nav th:replace="layout :: nav"></nav>
<div th:replace="layout :: flash"></div>

<div  class="bg-image" style="padding: 20px" >

    <h1 class="display-4">Welcome to our Book store!</h1>
    <p style="font-size: 30px">This is the place where you will find all the bestsellers for a perfect experience! Happy reading! </p>
    <hr class="my-4">
    <img style="width:20rem; "th:src="@{/assets/images/books.jpg}">
    <a class="btn btn-primary btn-lg" href="/products" role="button">Get started</a>

</div>
</body>
</html>